<h2>Update Search terms for <%= @venture.title %>  </h2>

<p>Here are your notes: </p><br>
<p><%= @venture.notes%></p><br>

<%= form_for [@venture, @terms] do |f|  %>
<p>Add up to 4 search terms</p>
<%= f.text_field('words', multiple: true) %>
<%= f.text_field('words', multiple: true) %>
<%= f.text_field('words', multiple: true) %>
<%= f.text_field('words', multiple: true) %>

<%= f.submit "Get Report", venture_id: @venture.id %>
<% end  %>



<!-- If you use nested resources,
   <%= text_field_tag 'user[firstname]' %>
in your form, will result in
   params[:user][:firstname] -->
