<h2>New Venture</h2>

<%= form_for @venture do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :description %>
<%= f.text_field :description %>
<h3>Select your Industry</h3>
<%= f.select(:category_id, @categories.map {|c| [c.title, c.id]}) %><br>

<h3>Add Notes:</h3>
<p>Consider these questions before choosing your search terms on the following page.<br>
  Check out our FAQs on how to choose good search terms.<br>
  (Don't worry, you can change your search terms at any time)</p>
  <p>
    <ul>
      <li>What problems does your Venture solve?
      <li>What makes your Venture different or better than other Ventures?
      <li>What groups of people do you think would be interested in your Venture? Think of factors such as age, gender, location, and financial capacity.
      <li>What are some similar companies or products? How would you search for these products online? What terms would you use?
    </ul>
  </p>

<%= f.label :notes %><br>
<%= f.text_area :notes %><br>
<%= f.submit "Next" %>

<% end  %>
