<div class="box"><% flash.each do |key, value| %>
   <div class="alert alert-<%= key %>"><%= value %>
 <% end %>
  </div>
</div>
<% term_1 = @terms.words[0]%><% term_2 = @terms.words[1]%><% term_3 = @terms.words[2]%><% term_4 = @terms.words[3]%>

<h2>Venture: <%= @venture.title%></h2>

<h3>Current Search Terms:</h3>
<h5>"<%= term_1 %>", "<%= term_2 %>", "<%= term_3 %>", "<%= term_4 %>"</h5>
<p>Terms last updated on <%= @venture.terms.first.updated_at %></p><br>
<h2>Hu Interest Scores</h2>
<p>Total Insight Scores (LINK THE SCORE TO THE FAQ PAGE)<br>
0-20: Low Interest (this range may be acceptable when considering other variables)<br>
20-40: Some Interest<br>
40-60: Medium Interest<br>
60 + HOT!<br>
<br>
If you score was less than 20 and your industry is not growing (or the industry is a comparatively small one), your Venture may not be financially successful. However, many Americans are successful in niche markets. Continue your research into regions of interest (local brick and mortor versus e-commerce), and the price per item or service which would be enticing to a small customer base/<p>
<div class="insight-2-column box">
  <div class="google-col-1 box">
    <h3>Google Shop Engine data</h3>
    <p><%= term_1 %>: <%= @hu_insight.google_shop.word_1_insight %></p>
    <p><%= term_2 %>: <%= @hu_insight.google_shop.word_2_insight %></p>
    <p><%= term_3 %>: <%= @hu_insight.google_shop.word_3_insight %></p>
    <p><%= term_4 %>: <%= @hu_insight.google_shop.word_4_insight %></p>
  </div > <!--class="google-col-1"-->
  <div class="google-col-2 box">
    <h3>Google Search Engine data</h3>
    <p><%= term_1 %>: <%= @hu_insight.google_search.word_1_insight %></p>
    <p><%= term_2 %>: <%= @hu_insight.google_search.word_2_insight %></p>
    <p><%= term_3 %>: <%= @hu_insight.google_search.word_3_insight %></p>
    <p><%= term_4 %>: <%= @hu_insight.google_search.word_4_insight %></p>
  </div > <!--class="google-col2"-->
</div > <!--class="insight-2-column"-->

<p><br>
<h2>Google Trends - Shopping and Search</h2>
All data gathered from https://trends.google.com/trends/explore<br>
FAQs#index - How does Google score this data?
</p>

<h3>Results from Google Shopping:</h3>


<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1308_RC02/embed_loader.js"></script>
<script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[
  {"keyword":"bag","geo":"US","time":"today 12-m"},
  {"keyword":"<%=term_1%>","geo":"US","time":"today 12-m"},
  {"keyword":"<%=term_2%>","geo":"US","time":"today 12-m"},
  {"keyword":"<%=term_3%>","geo":"US","time":"today 12-m"},
  {"keyword":"<%=term_4%>","geo":"US","time":"today 12-m"}
  ],
  "category":0,"property":"froogle"}, {"exploreQuery":"geo=US&gprop=froogle&q=bag,<%=term_1%>,<%=term_2%>,<%=term_3%>,<%=term_4%>&date=today 12-m,today 12-m,today 12-m,today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>


<h3>Results from Google Search:</h3>
<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1308_RC02/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[
  {"keyword":"news","geo":"US","time":"today 12-m"},
  {"keyword":"<%=term_1%>","geo":"US","time":"today 12-m"},
  {"keyword":"<%=term_2%>","geo":"US","time":"today 12-m"},
  {"keyword":"<%=term_3%>","geo":"US","time":"today 12-m"},
  {"keyword":"<%=term_4%>","geo":"US","time":"today 12-m"}
  ],
  "category":0,"property":""}, {"exploreQuery":"geo=US&q=news,<%=term_1%>,<%=term_2%>,<%=term_3%>,<%=term_4%>&date=today 12-m,today 12-m,today 12-m,today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>

<p><br>

<h2>Census Trends  - Overall US, Industry specific</h2><br>

<h3>US Market Insight for venture's [industry name]</h3>
Your industry has a growth rate of [industry #growth] for the past two years.
!!!! THIS MEANS I NEED TO SAVE THE CENSUS DATA TO DO CALCS ON IT!!!!
Your industry accounts for industry [#industry_share] % of the total US Retail and Food Service

*All data is gathered from the US MARTS API. See FAQs#index for more information.
</p>

<h3>Industry Performance: Sales in Millions for [industry .years] (2016-2017)</h3>

<script>

<% chart_data = [0.2, 0.1, 3.0, 0.6, 1.4, 2.1, 0.2, 0.9, 3.0, 0.6, 1.4, 2.1,0.2, 0.7, 3.0, 0.6, 1.4, 2.1, 0.0, 3.0, 0.5, 0.9, 0.1, 2.3] %>

</script>
<!-- <% background_color =  []%>
<% (background_color << ('rgba(54, 162, 235, 0.2)'))*12%>
<% (background_color << ('rgba(75, 192, 192, 0.2)'))*12%>

<% line_color = []%>
<% (line_color <<('rgba(54, 162, 235, 1)'))*12 %>
<% (line_color << ('rgba(75, 192, 192, 1)'))*12 %> -->


<canvas id="myChart" width="100" height="20"></canvas>
<script>

// let baseUrl = "https://api.census.gov"
// let industry = <%= @venture.category_id %>
// const populateCensus = (industry) => {
//   fetch(`https://api.census.gov/data/timeseries/eits/marts?get=cell_value&seasonally_adj=yes&time=from+2016-01+to+2017-12&category_code=453&key=${ENV["US_CENSUS_KEY"]}&data_type_code=SM`)
//   .then((response) => response.json)
//   .then((raw_data) => {
//     return raw_data.map(function(set) {
//       console.log(set)
//     })
//   })
//   .catch()
// };
//
//
//
// .then((projects) => {
//     return projects.forEach((project) => {
//       appendProject(project, project.id);
//       fetchPalettes(project.id);
//     })
//   })
//
//

var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["JAN16","FEB16","MAR16","APR16","MAY16","JUN16","JUL16","AUG16","SEP16","OCT16","NOV16","DEC16","JAN17","FEB17","MAR17","APR17","MAY17","JUN17","JUL17","AUG17","SEP17","OCT17","NOV17","DEC17"],
        datasets: [{
            label: 'SALES IN MILLIONS',
            data: <%= chart_data %>,
            // backgroundColor: <%= background_color %>,
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                ],
            // borderColor: <%= line_color %>,
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
