      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <!-- <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo"> -->
              <%= image_tag "teal-hu.jpg", size: "30x30"  %>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item">
                <%= link_to "Home", root_path %>
              </a>
              <a class="navbar-item">
                <% if current_user %>
                <%= link_to "You-Hu", dashboard_path %>
                <% else %>
                <% end %>
              </a>
              <a class="navbar-item">
                <% if current_user %>
                <%= link_to "Signed in as #{current_user.authentication.name}", dashboard_path %>

                <% else %>
                <% end %>
              </a>
              <a class="navbar-item">
                <% if current_user %>
                <%= link_to "Sign out", signout_path, id: "sign_out" %>
                <% else %>
                <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
                <% end %>
              </a>
              <div class=""><% flash.each do |key, value| %>
                 <div class="alert alert-<%= key %>"><%= value %>
               <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
