<!DOCTYPE html>
<html>
  <head>
    <title>Hu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="box site-wrapper">
      <div class="box header">
        <%= render 'layouts/nav_bar' %>
      </div><!-- <div class="box header"> -->

        <%= yield %>


    <div class="box footer center">
    <%= render 'layouts/footer' %>
    </div> <!-- <div class="box footer"> -->
  </div> <!-- <div class="site-wrapper"> -->

  </body>




</html>
